.topdiv{
    border: 2px solid black;
    width: 80%;
}

.tab{
    border: 2px solid black;
    width: 100%;
}

.tr {
    background: lightgreen;
}


@media only screen and (max-width: 600px) {
  
    .topdiv{
        width: 55%;
    }
}