.Header {
    background:  rgb(98, 165, 219);
    height: 8vh;
    border: 2px solid black;

}

.homeLink {
    color: white;
    text-decoration: none;
}

.homeLink:hover, .homeLink:active {
    text-decoration: none;
}