* {
    box-sizing: border-box;
    padding: 0.2%;
    margin: 0;
    padding: 0;
}


.app {
    display: grid;
    grid-template-rows: 2fr 5fr 11fr;
    grid-template-areas: 
        "header"
        "courses" 
        "list"
}

.courses {
    grid-area: header;
    background: yellow;
    border: 2px solid black;
}

.list {
    grid-area: list;
}

.header {
    grid-area: header;
}